.auth-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 999;
}

.auth-modal {
  background: white;
  width: 80%; 
  max-width: 400px; 
  padding: 2rem 1.5rem;
  border-radius: 0;
  position: relative;
  font-family: Inter, sans-serif;
  overflow-y: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.auth-modal input,
.log-button {
  width: 90%; 
  margin: 0.5rem 0;
  padding: 0.75rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.log-button {
  margin-top: 1rem;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1000;
}

/*DESKTOP QUERIES*/

@media (min-width: 768px) {
  .auth-modal {
    width: 360px;
    max-width: none;
    height: auto;
    max-height: 90%;
    border-radius: 12px;
    padding: 2rem;
    align-items: stretch;
  }

  .auth-modal input,
  .log-button {
    width: 100%;
  }
}
