
.home-container, .app-container{
  font-family: Inter, sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #E6E6FA;
  height: 100%;
  width: 100vw;
}

.eventos-lista{
  display: flex;
  flex-direction: row;
  width: 90vw;
  flex-wrap: wrap;
}

