.events-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  
  .event-card {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    gap: 3px;
    width: 100%;  
    max-width: 300px;  
    min-height: 350px;
    background-color: #A8D5BA;
    border: 2px solid white;
  }

  .event-image{
    object-fit: contain;
    max-width: 80%;
    height: 200px;
  }
  
  .event-card h2 {
    font-size: 1.4em;
    margin-bottom: 2px;
  }
  
  .event-card p {
    font-size: 1.1em;
  }
  
  .event-card a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }