.events-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  
  /*EVENT CARD STYLES*/

  .event-card {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    gap: 3px;
    width: 100%;  
    max-width: 300px;  
    min-height: 350px;
    background-color: #FDFDFD;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .event-image{
    object-fit: contain;
    max-width: 100%;
    height: 200px;
  }
  
  .event-card h2 {
    font-size: 1.25rem;
    margin-bottom: 2px;
    color: #d35400;
  }
  
  .event-card p {
    font-size: 1rem;
  }
  
  .event-card a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  .ribbon {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    background-color: #7f5af0;  
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0.2rem;
  }
  
  .ribbon span {
    display: block;
  }

  /*EVENT DETAIL CARD STYLES*/
  .event-detail-card {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 90%;    
    min-height: 350px;
    background-color: #FDFDFD;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .event-detail-image{
    object-fit: contain;
    max-width: 80%;
    height: 200px;
  }
  
  .event-detail-card h2 {
    font-size: 1.5rem;
    margin-bottom: 2px;
    color: #d35400;
  }
  
  .event-detail-card p {
    font-size: 1rem;
  }
  
  .event-description{
    height: fit-content;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
  }