.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #E6E6FA;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
}

.logo-text {
  text-align: center;
}

.logo-text h1 {
  font-size: 1.8rem;
  margin: 1rem;
}

.search-bar input {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border: 1px solid #ccc;
  width: 60vw;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-size: 0.9rem;
}

/* Desktop styles */
@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo-text {
    text-align: left;
  }

  .search-bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
