.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #FDFDFD;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-bar {
  position: relative;
  transform: none;
}

.planazo-logo{
  width: auto;
  height: 70px;
  padding: 0.5rem 1rem 0.5rem 3rem;
}

.search-bar input {
  margin: 1rem 0;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 999px;
  border: 1px solid #ccc;
  width: 60vw;
  max-width: 200px;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.nav-menu a {
  font-family: Inter, sans-serif;
  color: #007bff;  
  text-decoration: none;  
  font-size: 1.1rem;  
  padding: 10px 15px;  
  border-radius: 50px;  
  margin: 0 10px;  
  transition: all 0.3s ease;  
}


.nav-menu a:hover {
  background-color: #007bff;  
  color: white;  
  transform: scale(1.05);  
}


.nav-menu a:active {
  background-color: #0056b3;  
  color: white;  
  transform: scale(0.98);  
}

/* Desktop queries */
@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo-text {
    text-align: left;
    padding-left: 20px;
  }

  .search-bar {
    padding-right: 3rem;
  }
}


@media (max-width: 360px) {
  .nav-menu {
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
  }

  .nav-menu a {
    font-size: 0.95rem;
    padding: 8px 12px;
    margin: 0;
  }

  .search-bar input {
    width: 80vw;
  }

  .logo-text h1 {
    font-size: 1.4rem;
  }
}