.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #FDFDFD;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.planazo-logo {
  width: auto;
  height: 70px;
  padding-bottom: 0.5rem; /* para móvil */
}

.search-bar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.search-bar input {
  margin: 1rem 0;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 999px;
  border: 1px solid #ccc;
  width: 90vw;  
  max-width: 300px;
  box-sizing: border-box;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-Link {
  font-family: Inter, sans-serif;
  color: #007bff;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 50px;
  margin: 0 10px;
  transition: all 0.3s ease;
}

.nav-Link:hover {
  background-color: #007bff;
  color: white;
  transform: scale(1.05);
}

.nav-Link:active {
  background-color: #0056b3;
  color: white;
  transform: scale(0.98);
}

/*HAMBURGUER BUTTON*/
.hamburger {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  color: #007bff;
}

/* HAMBURGUER BUTTON FOR MOBILE */
@media (max-width: 767px) {
  .hamburger {
    display: block;
    align-self: flex-end;
    align-self: center;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 0.5rem;
  }

  .nav-menu.open {
    display: flex;
  }
}

/* DESKTOP QUERIES */
@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .planazo-logo {
    padding: 1rem 1rem 1rem 2rem;
    height: 70px;
  }

  .search-bar {
    width: auto;
    padding-right: 1rem;
    justify-content: flex-start;
  }

  .search-bar input {
    max-width: 300px;
    width: 20vw
  }

  .nav-menu {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 0;
  }

  .hamburger {
    display: none;
  }
}

/* SMALL DEVICES QUERIES */
@media (max-width: 450px) {
  .nav-menu {
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
  }

  .nav-menu a {
    font-size: 0.95rem;
    margin: 0;
  }

  .search-bar input {
    width: 90vw;
  }

  .logo-text h1 {
    font-size: 1.4rem;
  }
}
