.header-container {
  display: none;
}

/* MOBILE NAVBAR */
.mobile-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #FDFDFD;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 2000;
  transition: left 0.3s ease;
}

.sidebar a {
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  transition: all 0.2s ease;
}

.sidebar a:hover {
  color: #0056b3;
  transform: translateX(4px);
}

.sidebar.open {
  left: 0;
}

.planazo-logo {
  width: auto;
  height: 70px;
  padding-bottom: 0.5rem; 
}

.search-bar {
  position: relative;
  max-width: 40%;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 0;
}

.search-bar input {
  margin: 1rem 0;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 999px;
  border: 1px solid #ccc;
  width: 90vw;  
  max-width: 300px;
  box-sizing: border-box;
}


/*HAMBURGUER BUTTON*/
.hamburger {
  display: flex;
  align-self: flex-end;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  color: #007bff;
}


/* DESKTOP QUERIES */
@media (min-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: #FDFDFD;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  .mobile-navbar {
    display: none;
  }

  .nav-menu {
    display: block;
    align-items: center;
  }

  .planazo-logo {
    padding: 1rem 1rem 1rem 2rem;
    height: 70px;
  }

  .nav-Link {
    font-family: Inter, sans-serif;
    color: #007bff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 50px;
    margin: 0 10px;
    transition: all 0.3s ease;
  }
  
  .nav-Link:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
  }
  
  .nav-Link:active {
    background-color: #0056b3;
    color: white;
    transform: scale(0.98);
  }

  .hamburger {
    display: none;
  }

  .search-bar {
    width: auto;
    padding-right: 1rem;
    justify-content: flex-start;
  }

  .search-bar input {
    max-width: 300px;
    width: 20vw
  }
}