
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: #FDFDFD;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  .mobile-navbar {
    display: none;
  }

  .nav-menu {
    display: block;
    align-items: center;
  }

  .planazo-logo {
    padding: 1rem 1rem 1rem 2rem;
    height: 70px;
  }

  .nav-Link {
    font-family: Inter, sans-serif;
    color: #007bff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 50px;
    margin: 0 10px;
    transition: all 0.3s ease;
  }
  
  .nav-Link:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
  }
  
  .nav-Link:active {
    background-color: #0056b3;
    color: white;
    transform: scale(0.98);
  }

  .hamburger {
    display: none;
  }

  .search-bar {
    width: auto;
    padding-right: 1rem;
    justify-content: flex-start;
  }

  .search-bar input {
    max-width: 300px;
    width: 20vw;
    padding: 0.5rem;
    border-radius: 999px;
    border: 2px solid grey;
  }
